@page "/gallery"

<div class="row">
    <div>
        <h2>Our Gallery</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus facere accusamus vel incidunt fugiat labore in quisquam beatae obcaecati esse repudiandae corrupti eos deleniti distinctio odit, dolore, corporis aperiam dignissimos. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum enim reprehenderit sit, placeat culpa, esse, quaerat impedit consequuntur pariatur expedita totam? Iusto deleniti dolorum impedit vero beatae cum ipsa iste!</p>
    </div>
    <div class="d-flex justify-content-center">
        <p><img style="width: 270px; height: 150px;" src="https://b6.dd.icdn.ru/s/spel-135/9/imgsrc.ru_47051199Ctc.webp"></p>
        <p><img style="width: 270px; height: 150px;" src="https://b6.dd.icdn.ru/s/spel-135/5/imgsrc.ru_73563985gNY.webp"></p>
        <p><img style="width: 270px; height: 150px;" src="https://i12.fotocdn.net/s123/19e8071823e2e840/public_pin_l/2810595319.jpg"></p>
    </div>
    <div class="d-flex justify-content-center">
        <p><img style="width: 270px;height: 150px;" src="https://www.geekgirlauthority.com/wp-content/uploads/2020/06/GGA-Ishigami-pose.jpg"></p>
        <p><img style="width: 270px; height: 150px;" src="https://phonoteka.org/uploads/posts/2021-07/1625620641_19-phonoteka-org-p-sasaki-khaise-art-krasivo-19.jpg"></p>
        <p><img style="width: 270px; height:150px" src="https://kg-portal.ru/img/73196/main_2x.jpg"></p>
    </div>
</div>