@inherits LayoutComponentBase

<div class="page">
    <header>
        <h1>Light Gray</h1>
        <form>
            <input type="text" name="text" class="search" placeholder="Search">
        </form>
    </header>
    <NavMenu/>
    <main>
        @Body
    </main>

    
</div>

<footer>
    <p>Copyrigt © <time datetime="2048">2048</time>Made in blazor, with love</p>
</footer>