<ul class="menu">
    <li><NavLink href="./">Home</NavLink></li>
    <li><NavLink href="./news">Latest News</NavLink></li>
    <li><NavLink href="./gallery">Portfolio</NavLink></li>
    <li><NavLink href="./about-us">About Us</NavLink></li>
    <li><NavLink href="./contacts">Contact Us</NavLink></li>
</ul>